<a href="https://colab.research.google.com/github/manu14357/Programming/blob/main/Python_Programming_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Welcome!**

Welcome to the course on learning Python!

What will you learn here?

All the basic concepts of Python programming language like - Variables, Strings, Conditions, Lists, Loops, Functions etc
By the end of this course, you will be able to write code in Python to solve logical real world problems.
Let the fun begin!

**Printing a number**

We'll begin with the print statement, which is commonly the first thing you learn in most programming languages.

The print statement in Python is used to display output on the screen. You can use it to print numbers, text, or the results of expressions.

In [ ]:
print(12)

12

**Printing text**

In the last problem, we saw how to print a number (using print).

Now let's see how to output some text.
To print text, there is only one difference. All textual content should start and end with either double quotes(" ") or single quotes(' ').

In [ ]:
print("I love You")
print('I love You')

I love You
I love You

**Arithmetic Operations**

We can also perform mathematical operations using print.

In [ ]:
print(2+4)
print("2+4")

6
2+4

Without quotes: The expression is evaluated, and the result is printed.

With quotes: The expression is treated as a string and printed as it is.

**Multiple Outputs**

You can add as many print statements as you want to your program. Each print statement outputs its content on a new line.

In [ ]:
print("99")
print(100)

99
100

**Outputs on the same line**

We can print multiple items by separating by commas. Python will automatically add a space between them.

In [ ]:
print(1,      2, 3, 4)

1 2 3 4

**Inserting text Between Outputs**

Remember that to print multiple values on same line, we have to use comma inside print statement.

We can also combine text and numbers in a single print statement by comma separating them.

In [ ]:
print("My favorite number is", 10)

**Variables in Python**

A variable is like a labelled box where you can store data. Imagine you have a box labeled "age" and you put the number 25 in it. In Python, you would do this by writing:

In [ ]:
manu = 25

When you write this, python creates a box(variable) with name age and stores 25 in that box(variable).

This process of creating a variable to store a value is called Declaration and

The process of setting its value for the first time is called Initialization.

In [ ]:
print(age)

**Declaring a variable**

There are many different types of variables in Python. The type of a variable is defined by the kind of value it stores.

In [ ]:
# Numeric variables - hold integers and decimal values
age = 69
temperature = 98.6

# String variables - Stores a sequence of characters enclosed in single or double quotes
name = "Manu"
message = 'Hello, world!'

# Boolean variables - only hold the values true and false
is_true = True
is_false = False

# List variables - Stores a collection of items, which can be of different types.
numbers = [1, 2, 3, 4, 5]
fruits = ['apple', 'banana', 'orange']

# Tuple variables
coordinates = (10, 20)

# Dictionary variables
person = {'name': 'Alice', 'age': 30}

# Set variables
unique_numbers = {1, 2, 3}

# None variable
empty_value = None

**Properties of Variables**

We learned that variable is a labelled box which can store many different types of values. You can also change the value of a variable in your code.

In [ ]:
Age = 24
age = 25
print(age)
print(Age)

# Update age
age = 26
print(age)

25
24
26

**Rules for Python variable names:**

A variable name can only contain alphabets, numbers
and underscores (ie. A-Z, a-z, 0-9, and _).

A variable name cannot start with a number.

A variable name cannot have spaces in between.

Variable names are case-sensitive (age, Age and AGE are three different variables).

**Float datatype**

In Python, you don't need to explicitly specify the type of a variable during declaration. The type is inferred based on the kind of value assigned to the variable.

For example if you put decimal values in a variable, the type of variable becomes float.

In [ ]:
pi = 3.14

**String Datatype**

The string type is used to store a sequence of characters, i.e. text.
String values can be surrounded by either double quotes or single quotes.
Python does not care about whether you use single or double quotes.

For example, both the below codes do the same thing:

In [ ]:
sentence1 = "I like you"
sentence2 = 'I like you'

**Bool Datatype**

In programming, you often need to make decisions based on whether something is True or False. For this, we have a data type representing just one of these two values - True and False.

The datatype is called boolean datatype.

In [ ]:
studying = True
print(studying)

True

**Type Conversion**

In the previous problems we saw different types of datatypes. We can also convert one data type to another as per our use. This is called Type Conversion.

There are two types of Type Conversion.

**Implicit Type Conversion**

Here, Python automatically converts a variable from one data type to another without the user needing to tell it to do so.

In [ ]:
x = 7
x = x/2
print(x)

<class 'float'>

Here’s what happens:

Variable x is initially an integer with a value of 7

When x is divided by 2, the result 3.5 is a float (decimal number)

Python automatically converts x from an integer to a float

**Explicit Type Conversion**

Here, we manually convert a variable from one data type to another as per our use using Python’s built-in functions

In [ ]:
num = '12'
num = int(num)
num = num + num

Here’s what happens:

Initially, num is a string with the value '12'.

We use the int() function to convert num from a string to an integer.

After conversion, num becomes 12 (an integer), and we can perform arithmetic operations on it. If we hadn’t converted num from a string to an integer, the operation num + num would have resulted in concatenation, producing '1212' instead of 24.

In [ ]:
a = 3
b = 5.8
c = 'hello'
d = True
# Print the types of these four variables
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Arithmetic Operations**

In Python, you can perform various basic mathematical operations with numbers.

1. Addition (+)

You can use the plus sign (+) to add two numbers.

In [ ]:
a = 6
b = 3
print(a + b)

9

2. Subtraction (-)

You can use the minus sign (-) to subtract one number from another.

In [ ]:
print(a - b)

3

3. Multiplication (*)

You can use the asterisk (*) to multiply two numbers.

In [ ]:
print(a * b)

18

4. Division (/)

You can use the forward slash (/) to divide one number by another. This will give you a float (decimal number) as a result.

In [ ]:
print(a / b)

2.0

5. Integer Division (//)

You can use the double forward slash (//) to perform integer division. This will divide the numbers and return the whole number part of the result, discarding the remainder.

In [ ]:
result = 10 // 3
print(result)

3

6. Modulo (%)

You can use the percent symbol (%), known as the modulo operator, to get the remainder of a division.

In [ ]:
print(a % b)

0

7. Exponentiation (**)

You can use the double asterisk (**) to raise a number to the power of another number.

In [ ]:
print(a ** b)

In [ ]:
x = 5
y = 2


# Calculate the sum of x and y
sum_of_xy = x+y
# Calculate the difference of x and y
difference_of_xy = x-y
# Calculate the quotient of x and y
quotient_of_xy = x/y
# Calculate the floor of quotient of x and y
floor_quotient_of_xy = x//y
# Calculate the product of x and y
product_of_xy = x*y
# Calculate the exponent of x and y
x_to_power_of_y = x**y

Assignment Operators

In Python, assignment operators are used to set or update the value of a variable. There are basic assignment operators and compound assignment operators.

Basic Assignment Operator

The basic assignment operator is the = sign. It assigns the value on its right to the variable on its left.

In [ ]:
length = 15

In this example, the = operator sets the value of length to 15.

Compound Assignment Operators

Compound Assignment Operators combine arithmetic operations with assignment. They are just a shorthand way of performing operations on a variable and assigning the result back to the variable.

Without using the compound assignment operators we write -

In [ ]:
length = 15
length = length + 5

The same thing using Compound Assignment Operator would be written as-

In [ ]:
length = 15
length += 5  # Shorthand for length = length + 5
print(length)  # Output: 20

We can use any other operator in the same way:
- x -= 5  (Subtracts 5 from `x` and assigns the result back to `x`)
- x *= 3  (Multiplies `x` by 3 and assigns the result back to `x`)
- x /= 3  (Divides `x` by 3 and assigns the result back to `x`)*
- x %= 3  (Finds the remainder when `x` is divided by 3 and assigns the result back to `x`)

In [ ]:
length = 15
length = length +  5

# Add 5 to length. length becomes 15+5 = 20
length += 5
# Subtract 5 to length. length becomes 20-5 = 15
length -= 5
# Multiply 3 to length. length becomes 15*3 = 45
length *= 3
# Divide length by 3. length becomes 45/3 = 15
length /= 3
# length is raised to the power of 3. length becomes 15**3 = 3375
length **= 3
# Divide length by 10 and store the floor value.
# length becomes 3375//10 = 337
length //= 10

Relational Operators

Relational operators help you compare two values or variables. They give you a result of either True or False based on the comparison.

Basic Comparison

In [ ]:
height1 = 12
height2 = 14
print(height1 < height2)

Other Relational Operators

Here are some more examples of relational operators:

- a > b   (Checks if `a` is greater than `b`)
- a == b  (Checks if `a` is equal to `b`)
- a != b  (Checks if `a` is not equal to `b`)
- a >= b  (Checks if `a` is greater than or equal to `b`)
- a <= b  (Checks if `a` is less than or equal to `b`)

In [ ]:
x = 5
y = 2

# Store the result of the condition if - x is less than y
less = x<y

# Store the result of the condition if - x is greater than y
greater = x>y

# Store the result of the condition if - x is less than equal to y
less_than_equal_to = x<=y

# Store the result of the condition if - x is greater than equal to y
greater_than_equal_to = x>=y

# Store the result of the condition if - x not equal to y
not_equal = x!=y

# Store the result of the condition if - x is equal to y
equal = x==y

Logical Operators

Logical operators help you combine multiple conditions to check if they are True or False. They are often used to make decisions based on multiple criteria.

Basic Logical Operations

Logical AND

LOgical OR

Logical NOT

In [ ]:
# The AND operator returns True only if both conditions are True.

a = 7
condition = a > 5 and a < 10  # Only True if a is greater than 5 AND less than 10
print(condition)  # Output: True

True

In [ ]:
# The OR operator returns True if at least one of the conditions is True.

a = 7
condition = a > 10 or a < 5  # True if a is greater than 10 OR less than 5
print(condition)  # Output: False

False

In [ ]:
# The NOT operator reverses the result of the condition. If the condition is True, `not` makes it False. If the condition is False, `not` makes it True.

a = 5
condition = not(a > 5)  # Reverses the result of a > 5
print(condition)  # Output: False

True

In [ ]:
a=18
c= a>18 or a>=18
print(c)

True

Precedence - It tells the priority of operations.

Associativity - It tells what order the operations with the same priority will be performed in.

Operator precedence

Operator precedence determines the order in which different operators are evaluated in an expression.
Operators with higher precedence are evaluated before those with lower precedence.
This concept is similar to the rules of arithmetic, where multiplication and division takes precedence over addition and subtraction.

Here's the order of operator precedence in Python from highest to lowest:

Parentheses: ()

Exponentiation: **

Unary operators: ~

Multiplication, division, floor division, and modulus operators: *, /, //, %

Addition and subtraction operators: +, -

Relational operators: <, >, <=, >=

Equality operators: ==, !=

Logical AND operator: and

Logical OR operator: or

Assignment operators: =, +=, -= ... and so on

In [ ]:
x = 5
y = 3
z = 2
result = 10 / 2 *3
print(result)

15.0

**Creating a String**

Strings are used for storing text.

A string variable contains a collection of characters surrounded by double quotes.

In [ ]:
 name = "Chef"

**String Operations**

we will understand two important operations Concatenation and Repetition.

**Concatenation**

The + sign can be used between strings to add them together to make a new string.

This is called concatenation.

In [ ]:
#String Concatenation

x = "Good"
y = "Work"
print(x + y)

x = "Good"
y = "Work"
print(x + " " + y)

GoodWork
Good Work

String repetition

In Python, you can multiply strings to create a new string that repeats the original string a certain number of times. This technique is known as string repetition or string replication.

The multiplication operator (*) is used to repeat a string a specified number of times.

In [ ]:
string = "hello "
result = string * 3
print(result)

hello hello hello

Strings and Integers

Python uses the + sign for both addition and concatenation.

Numbers are added.

Strings are concatenated.

We cannot mix the two

In [ ]:
string1 = "25"
string2 = 69

print(string1 + string2)

TypeError: can only concatenate str (not "int") to str

String length

We can use the len() function to get the length of a string.

In [ ]:
greeting = "he"
print(len(greeting))

2

Lower and Upper case

We have other helper functions to change a string to either lowercase or uppercase.

lower(): This function converts all characters in the string to lowercase.

upper(): This function converts all characters in the string to uppercase.

In [ ]:
name = 'manu'
lowercase_name = name.lower()
uppercase_name = name.upper()
print(lowercase_name)
print(uppercase_name)

manu
MANU

In [ ]:
string1 = "12345"
print(string1[1])

2

**Outputting Characters from a String**

** Indexing**

Indexing allows you to access individual characters in a string using their position.

The position is known as the index, and Python supports two kinds of indexing: positive and negative indexing.

Positive Indexing: Starts from the beginning of the string. The first character is at index 0, the second is at index 1, and so on.

In [ ]:
s = "manohar"
print(s[2])
print(s[0])

n
m

Negative Indexing: Starts from the end of the string. The last character is at index '-1', the second to last is at index '-2', and so on.

In [ ]:
s = "manohar"
print(s[-2])
print(s[-0])

a
m

Changing Characters in a String

In Python, strings are immutable, which means you cannot directly update or change a character in a string.

In [ ]:
m = "mono"
m23= m.replace('o','u', 3)
print(m23)

munu

**String slicing**

Slicing is a way to extract a part (substring) from a string.

In [ ]:
substring = string[start:end]

In [ ]:
str = 'Interesting'
substring = str[0:4]
print(substring)

Inte

In [ ]:
s = "abcdefghij"
print(s[2:-2])

cdefgh

String slicing

There's another syntax to slice a string:


substring = string[start:end:step]

In [ ]:
s = "abcdefghij"
print(s[2:9:3])

cfh

**Changing character using slicing**

In [ ]:
string='manohar'
new_string = string[:4] + 'u' + string[1:]
print(new_string)

manouanohar

Reverse slicing

You can use [start:end:step] format to print a string in reverse.

Let's see how.

We know when slicing, the traversal (movement) always happens from left to right. But there is a way to traverse from right to left by mentioning a negative step.

In [ ]:
s='abcde'
print(s[4:0:-1])
print(s[::-1])

edcb
edcba

In [ ]:
s = "abcdefghij"
print(s[8:3:-2])

ige

**Taking user input**

Now we will use 'input()' to get user input.

In [ ]:
name = input()
print("Hello, " + name )

age = input()
print("You are " + age + " years old.")

manu
Hello, manu
456
You are 456 years old.

In [ ]:
age = int(input())
print("You are", age, "years old.")

12
You are 12 years old.

In [ ]:
name = input()
print("Your name is:", name)

mnbmn
Your name is: mnbmn

In [ ]:
a = int(input())
b = int(input())

c = a + 2
d = b + c

print(d)

2
5
9

Multiple string inputs

You've seen how to use the input() function to take input multiple times, accepting one value per line. However, sometimes you need to accept multiple inputs in a single line. To do this, you can use the split() function.

In [ ]:
a, b, c = input().split()
print(a,b,c)

gfff tyyy ttt
gfff tyyy ttt

The split() function breaks this single line of input into multiple parts. By default, split() divides the input based on spaces, so each word separated by a space is treated as an independent input and stored in different variables.

Multiple integer inputs

The syntax you saw in the previous lesson takes string inputs. But if you need to take multiple integer inputs, you'll have to convert them separately.

You cannot call the int function directly on the split input as int function can only be called on one value as a time and split input has multiple values.

To handle this, you can use the map function to convert the split inputs to integers in one step. Here's how you can do it:

In [ ]:
a, b, c = map(int, input().split())

In [ ]:
a, b, c = map(int, input().split())
d, e = map(int, input().split())
print (a+b+c+d+e)

1 3 5
3 5
17

In [ ]:
#1.Write a Python program to take a user’s name as input and print a greeting message.

name = input()
print("Hello" " " +name)

manu
Hello manu

In [ ]:
#2.Write a program to take two numbers as input and print their sum.
a=int(input())
b=int(input())
print(a+b)

2
7
9

In [ ]:
#3.Write a program to input a sentence and count the number of words in it.

s= input()
w=s.split()
print(len(w))

manu is a good boy
5

In [ ]:
#4.Take input of a float number and an integer. Add them and print the result.

fn=float(input())
ino=int(input())
print(fn+ino)

4.77
78
82.77

In [ ]:
#5.Write a Python program that takes a character as input and prints its ASCII value.

a=input()
print(ord(a))

a
97

In [ ]:
#6.Write a program to input two numbers and print their product, difference, and quotient.

a,b = map(int, input().split())
print(a*b,a-b,a/b)

2 5
10 -3 0.4

In [ ]:
#7.Write a program to input two numbers and print the result of integer division and the modulus operator.

a, b= map(int, input().split())
print(a//b, a%b)

2 5
0 2

In [ ]:
#8.Write a Python program to check whether a number entered by the user is even or odd using the modulus operator.

a=int(input())
if(a%2==0):
  print("even")
else:
  print("Odd")

4
even

In [ ]:
#9.Write a program that takes the radius of a circle as input and calculates its area using the formula: area = πr².
import math

r=float(input())
print(math.pi*r*r)

34
3631.6811075498013

In [ ]:
#10.Write a program that takes a number and raises it to the power of another number entered by the user using the ** operator.
base=float(input())
power=int(input())
print(base**power)

2
5
32.0

In [ ]:
#11.Write a program to input a string containing a number, convert it to an integer, and print the result.

a=input()
b=int(a)
print(b)

56
56

In [ ]:
#12.Write a program to take a float input from the user and convert it to an integer. Display both the original and converted values.

a=float(input())
print(a)
print(int(a))

3.66
3.66
3

In [ ]:
#13.Write a Python program that takes two string inputs representing numbers, converts them to integers, and adds them.

a=input()
b=input()
print(a+b)
print(int(a)+int(b))

7
7
77
14

In [ ]:
#14.Write a program to input a number as a string and print its reverse.

n=input()

print(n[::-1])

manu
unam

In [ ]:
#15.Write a program to take a string input, convert it to uppercase, and print the result.

s= input()
print(s.upper())

manu
MANU

In [ ]:
#16. Write a Python program to input a temperature in Fahrenheit, convert it to Celsius using the formula C = (F - 32) × 5/9, and print the result.

f=float(input())

c= (f-32) * 5/9

print(c)

12.6
-10.777777777777779

In [ ]:
#17.Write a program to input a distance in kilometers, convert it to meters, and print the result.

K=float(input())
M= K*1000
print(M)

2.1
2100.0

In [ ]:
#18.Write a program to input two numbers as strings, concatenate them, and print the result both as a string and as a number (after converting them to integers).

a=input()
b=input()
print(a+b)
print(int(a)+int(b))

2
3
23
5

In [ ]:
#19.Write a program to input a float number, round it to the nearest integer, and print the rounded value.


a=float(input())
print(round(a))

2.5
2

In [ ]:
#20.Write a program to input the length and breadth of a rectangle, calculate the area and perimeter, and display the results using proper typecasting if necessary.

l= float(input())
b= float(input())

area = l*b

per = 2*(l+b)

print(area)
print(per)

2.4
5.66
13.584
16.12

**Need of If-Else**

![image.png]()

**If & Else Statements**

We use conditions in code for decision making and controlling the flow of a program.

IF and ELSE can be used together to create conditions.

In [ ]:
if condition:
    # code to run if the condition is true
else:
    # code to run if the above condition is false

In [ ]:
a = 4
b = 5
if a == b:
    print("a and b are equal")
else:
    print("a and b are not equal")

a and b are not equal

Write a program which does the following

Let's think of a real-life example where we need to find out if a person is old enough to vote.

Find out if the age entered by the user is greater than OR equal to the voting age limit, which is set to 18.

Declare the variable age - take an integer input and store it in age.

Compare age and voting age limit using the syntax given above and output the following

"Old enough to vote" if age is greater than or equal to voting age limit

"Not old enough to vote" if age is lesser than voting age limit

In [ ]:
age = int(input())

if age >=18   :
  print("Old enough to vote")
else  :
  print("Not old enough to vote")

567
Old enough to vote

**If Statement**

The else statement is optional.

the if condition checks whether the grade is greater than or equal to 90. If the condition is True, the print statement inside the if block is executed, and it prints "You got an A".

If the condition is False, the program skips the if block and moves on to the next part of the code (if any). Since there is no else block in this example, nothing happens if the condition is False.

The else block is useful when you want to specify an action if the if condition is not met, but it's not necessary if you only need to perform an action when the condition is True.

In [ ]:
grade = 95
if grade >= 90:
    print("You got an A")

You got an A

Write a program which does the following

Take input for two integer variables a & b

Output "Coding is Fun" to the console if a is greater than b

In [ ]:
a = int(input())
b= int(input())

if a > b:
  print("Coding is fun")

333
555

**Elif Statement**

In [ ]:
grade = 85

if grade >= 90:
    print("You got an A")
elif grade >= 80:
    print("You got a B")
else:
  print("Fail")

You got a B

Write a program which does the following

Take two integers b and r as input

Print "Rob scored higher marks than Bob", if r is greater than b

Print "Bob & Rob both scored the same", if both b and r are equal

In [ ]:
b = int(input())
r = int(input())

if r > b :
  print("High")
elif r == b:
  print("Both")

55
56
High

**Else Statement**

The else keyword handles the case that don't meet the conditions specified in the if and elif statements. It's like a "none of the above" option in programming.

In [ ]:
a = int(input())

b= int(input())

if a >b:
  print(">")
elif a<b:
  print("<")
else:
  print("==")

344
66
>

Print some text based on below conditions:

If the score is 100, print "Perfect score"

If the score is less than 100, but greater or equal
to 80, print "Almost perfect score"

If the score is less than 80, print "Nice try"

In [ ]:
score = int(input())

if score == 100:
    print("Perfect score")
elif score >= 80:
    print("Almost perfect score")
else:
    print("Nice try")

**And Statement**

In [ ]:
x = 8
y = 7

if x > 5 and y < 10:
    print("Both conditions are true!")
else:
    print("At least one condition is false.")

Both conditions are true!

Write a program which does the following:

Declare a variable a and initialize it to the values
15


Compute if a is completely divisible by both 7 and 5

Depending on the result above - output the following to the console

The number is divisible by both 5 & 7

The number is not divisible by both 5 & 7

In [ ]:
a = 15

if (a%7==0) and (a%5==0):
  print("Div")
else:
  print("Nor")

Nor

**Or Statement**

In [ ]:
age = 22

if age < 18 or age > 65:
    print("This person is either under 18 or over 65.")
else:
    print("This person is between 18 and 65.")

This person is between 18 and 65.

Write a program which does the following

Take input from the console for integer variables z, x and c.

Compute and output the following for each tuple z, x and c

"PASS" if c is greater than either x or z

Otherwise print "FAIL" in every other case

In [ ]:
z, x, c = map(int, input().split())

if c > x or c > z:
    print("PASS")
else:
    print("FAIL")

4 5 6
PASS

Debugging

As you learn more advance concepts of Python, you will start making mistakes in your code. Sometimes these mistakes can be very hard to find.

What is a bug?

A bug is an error that causes the program to generate an unexpected output that is different from the expected output or no output. What are some of the error codes you saw so far?

CE - Compilation error / Syntax error

RE - Run time error

WA - Wrong answer / Logical error

TLE - Time limit exceeded

In [ ]:
#Compilation error (syntax error)
name = input()
if name == "piyush":
print("Hello piyush")
else:
    print("you are not registered")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-26-a9730dad89ad>, line 4)

In [ ]:
name = "piyush"
if name == "piyush"
    print(name)

SyntaxError: expected ':' (<ipython-input-27-f41b667ad17e>, line 2)

In [ ]:
#Runtime error
a = 5
b = 0
c = a / b

ZeroDivisionError: division by zero

Logical Error or Wrong Answer (WA)

A logical error is an error in a program that occurs when the code compiles and runs without producing any error messages, but it does not produce the expected or desired output.

Instead, it performs a different computation or provides incorrect results due to a flaw in the algorithm or logic of the program.

Logical errors are the hardest to find in a program. One needs to have enough debugging practice to figure out logical errors.

They can be categorized into different types:

Incorrect Conditions

Incorrect Index

Incorrect variable usage

In [ ]:
n = 10

if n % 2 == 0:
    print("odd")
else:
    print("even")

odd

In [ ]:
n = 10

if n % 2 != 0:
    print("odd")
else:
    print("even")

even

**Creating Arrays**

Arrays in Python are commonly referred to as lists.

Arrays are used to store multiple values in a single variable, instead of declaring separate variables for each value.

In Python, list is denoted by square brackets []

It can hold elements of different data types, such as numbers, strings, or even other lists.

Lists are mutable, which means you can modify them by adding, removing, or changing elements.

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

numbers = [20, 10, 0, -5]

Write a program which does the following

Create an Array of the first 5 positive integers - name it integers

Once the array is defined - output "Done" to the console.

In [ ]:
i = [1,2,3,4,45]
print("Done")

Done

Index & printing specific elements of an Array

You access an array element by referring to the index number inside square brackets [].

Similar to what we saw in strings, list items are indexed and you can access them by referring to their index number:

In [ ]:
 0      1      2      - index numbers
["red","Green","Blue"]  - the list

In [ ]:
arr = ["red","Green","Blue"]
print(arr[2])

num = [1, 2, 3, 4, 5]

print(num[2])

Blue
3

**Changing the elements of an Array**

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

fruits[2] = "mango"

print(fruits)

['apple', 'banana', 'mango', 'grape']

In [ ]:
#Displaying elements
week = ["Monday", "Tuesday", "Wednesday", "Thursday"]

print(week)

print(week[2])

['Monday', 'Tuesday', 'Wednesday', 'Thursday']
Wednesday

**Displaying the count of elements**

In [ ]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday"]

print(len(week))

4

In [ ]:
# Negative Indexing

list = ["lock","key","barrier","sign","door"]
print(list[ -2 ])

sign

Slicing a list

Similar to what we saw in slicing of strings, you can slice lists as well.

In [ ]:
months = ["January", "February", "March", "April", "May", "June", "July"]

print(months[0:6])

print(months[1:5])

['January', 'February', 'March', 'April', 'May', 'June']
['February', 'March', 'April', 'May']

Operations on Lists

So far, we've learned how to access list items using indexing and slicing.
As you move ahead on lists, you will want to do more than fetch items from the lists.

Python allows you even to update and modify lists.

There are four major functions that you can use to update any given list and its items.

1. append()
This function helps you to add a new item at the end of the list.

2. insert()
This function helps you to add a new item at a specific position in the list. You can exactly specify which position you want to add the new item.

3. remove()
This is used to remove the first matching element from a list. You can exactly specify which item you want to remove from the list.

4. pop()
This is used to remove the element at the specified position.

In [ ]:
f = ["apple", "banana", "cherry"]
f.append("manogo")
print(f)

['apple', 'banana', 'cherry', 'manogo']

In [ ]:
f = ["apple", "banana", "cherry"]

f.insert(1, "mango")

print(f)

['apple', 'mango', 'banana', 'cherry']

In [ ]:
f = ["apple", "banana", "cherry"]

f.remove("banana")

print(f)

['apple', 'cherry']

In [ ]:
f = ["apple", "banana", "cherry"]

f.pop(1)

print(f)

['apple', 'cherry']

**List concatenation**

In [ ]:
fruits1 = ["apple", "banana"]
fruits2 = ["cherry", "date"]
all_fruits = fruits1 + fruits2
print(all_fruits)

['apple', 'banana', 'cherry', 'date']

**List String User Input**

In [ ]:
fruits = input().split()
print(fruits)

manu ramu sara
['manu', 'ramu', 'sara']

List Integer User Input


If you want to take a list of numbers as input, you need to convert each input from a string to an integer.

In [ ]:
no = list(map(int, input().split()))
print(no)

**Loops**


A loop in programming is like doing something over and over again until you're satisfied.
You get to pick what you want to do and how many times you want to do it.

In [66]:
print(1)
print(2)
print(3)

1
2
3

While Loop

LOOPS can execute a block of code as long as a specified condition is reached.
They are handy because they save time, reduce errors, and they make code more readable.

In [ ]:
while (condition):
    // code to be executed

In [68]:
a = 0
while a<7:
  print(a)
  a = a+1

0
1
2
3
4
5
6

In [69]:
a = 5

while a<=20:
  print(a)
  a = a+1

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [72]:
a = 10
while a>=1:
  print(a)
  a=a-1

10
9
8
7
6
5
4
3
2
1

In [73]:
n = 128
i = 2

while i <= n:
    print(i)
    i = i*2

2
4
8
16
32
64
128

In [74]:
num = int(input())
a = 0

while a < num:
    print(a)
    a = a + 1

5
0
1
2
3
4

For Loop

When you know exactly how many times you want to loop through a block of code, use the for loop instead of while loop.
FOR loop in Python is designed to iterate over a sequence of elements, such as a list, string, or range of numbers.

In [75]:
numbers = [1, 6, 4, 3, 2, 5]

for i in numbers:
    print(i)

1
6
4
3
2
5

Write a program which does the following:

You are given a string containing some occurrences of the alphabet 'o'

Count how many o's are present in the string using a 'for' loop and 'if' condition and print the count.

In [76]:
s = "manohar"

c = 0

for i in s:
  if i == 'a':
    c=c+1
print(c)

2

Range of numbers

In Python, you can use a for loop to iterate over a sequence of numbers.
The Range() function helps generate this sequence, allowing you to define where to start, where to stop, and how much to increment by.

In [ ]:
for i in range(start, stop, step):
    # do something

In [79]:
for i in range(5, 10, 2):
    print(i)

5
7
9

In [80]:
for i in range(30, 4, -1):
    print(i)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5

In [81]:
for i in range(1, 5):
  print(i)

1
2
3
4

In [82]:
for i in range(5):
  print(i)

0
1
2
3
4

In [84]:
n = int(input())

for i in range(1,5):
  print(n, "X", i, "=", n*i)

26
26 X 1 = 26
26 X 2 = 52
26 X 3 = 78
26 X 4 = 104

Factorial of any number

Write a program that does the following

Declare an integer variable num and initialize it to a user defined input

Output to the console the factorial of num

Remember to use loops for this problem

Factorial of a number n is the product of all the numbers from 1 to n

Factorial of a number(n) = n × (n-1) × ... 2 × 1

In [85]:
n = int(input())

i = 1
f = 1

while i<=n:
  f = i * f
  i = i+1

print(f)

3
6

Sum of N Integers

Chef was given an integer input N.


He wants to write a code using while loops to output the sum of all integers from 1 to N.

In [1]:
n = int(input())

s = 0

i = 1

while i <= n:
  s = s + i
  i = i+ 1
print(s)

3
6

given an integer input N.

He wrote a code using WHILE loops to output the factorial of N.

In [3]:
n = int(input())

f = 1
i = 1

while i <= n:
  f = f * i
  i = i + 1
print(f)

6
720

find the number of digits in the given integer.

In [4]:
n = int(input())

c = 0

while n != 0:
  c=c+1
  n=n//10
print(c)

50
2

In [ ]:
120

num != 0
 c=1
 n = n//10
 n=12

 12 != 0
 c=2
 12//10

 n=1

 1!=0
 c=3
 1//10

write a code which checks if a given number is prime.

You are given an integer N

You need to output 'Yes' or 'No' depending on whether the number is prime or not.

In [5]:
n = int(input())

pri = True

i = 2

while i < n:
  if n%i ==0:
    pri = False
  i=i+1
if pri:
  print('Yes')
else:
  print('No')

11
Yes

You are given an integer N.

You need to output the sum of all even integers from 1 to N.

In [7]:
n = int(input())

s= 0

for i in range(1, n+1):
  if i % 2 ==0:
    s= s+i
print(s)

5
6

In [ ]:
5

s=0

1,6

i=1

1%2==0

i=2

2%2==0

s=0+2

i=3
i=4

s=2+4

s=6

In [8]:
n, m = map(int, input().split())

r = 1

for i in range(m):
  r = n*r
print(r)

2 3
8

In [10]:
i = 0
while i <= 5:
    print("Python")
    i = i + 2

Python
Python
Python

Break Statement

The break statement is a control statement in Python that allows you to exit a loop prematurely.

When the break statement is encountered inside a loop, the loop is immediately terminated

The program execution continues with the next statement after the loop

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

for item in fruits:
    if item == "orange":
        break
    print(item)

In [11]:
days = [30, 31, 30, 30, 31, 30, 20, 30, 31, 30, 31, 30]

for day in days:
    print(day)
    if day < 30:
        break

30
31
30
30
31
30
20

Continue Statement

Recall that break exits the loop entirely when its condition is met - ignoring all subsequent iterations.

The continue statement skips one iteration (in the loop), if a specified condition occurs, and continues with the next iteration in the loop.

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9

In [14]:
n = int(input())

for i in range(1, 11):
    if i == n:
        continue
    print(i)

5
1
2
3
4
6
7
8
9
10

In [19]:
for i in range(1, 11):
    print(i, end=" ")
    if i%2 == 0:
         continue
    print(i, end=" ")

1 1 2 3 3 4 5 5 6 7 7 8 9 9 10

Nested loops

We learned about For and While loops.

Let's discuss Nested loops.

Nested loops are a powerful programming construct where one loop is placed inside another loop.

In [ ]:
n = int(input())

i = 1
while i<=n:
    j = 1
    while j<=i:
        print("*", end=' ')
        j = j+1
    print()
    i = i+1

In [ ]:
3
* * *
* * *
* * *

In [20]:
n = int(input())

i = 0

while i< n:
  j = 0
  while j < n:
    print("*", end=' ')
    j = j+1
  print()
  i= i+1

3
* * *
* * *
* * *

In [21]:
n = int(input())

i = 1

while i<=n:
  j=1
  while j<=i:
    print(j, end=' ')
    j=j+1
  print()
  i=i+1

4
1
1 2
1 2 3
1 2 3 4

**Functions**

Why we need functions

In [22]:
two = 2
three = 3
four = 4

print(two ** 2)
print(two ** 3)

print(three ** 2)
print(three ** 3)

print(four ** 2)
print(four ** 3)

4
8
9
27
16
64

In [23]:
def power(n):
  s = n ** 2
  c = n ** 3
  print(s)
  print(c)

power(6)

36
216

Anatomy of a function

Let us breakdown the structure of a function.

 def function_name(parameters):

    Function body (code block)
     ...
    return result  # Optional return statement


def: Keyword to define a function.

function_name: Name of the function (should be descriptive).

parameters: Inputs that the function accepts (can be optional).

Function body: Code block where the function performs its task.

return: Optional statement to return a value from the function.

Return values

Functions in Python can serve two primary purposes when it comes to providing information to the caller: they can either return a value or print an output.

Returning Values from Functions:

When a function returns a value, it's providing a piece of data back to the caller.
This data can be used for further processing, assignment to variables, or any other purpose within the program. The return statement is used to send a value back to the caller.

In [28]:
def calculate_square(num):
    square_result = num * num
    return square_result

# Calling the function and capturing the return value
result = calculate_square(5)

print("Square of 5:", result)

In [31]:
def add(a,b):
  return a+b

h=8
j=9
add(h,j)

17

Variable scope

Scope in Python can be broadly categorized into two types: global scope and local scope

Global scope

Variables defined outside of any function have global scope.

These variables can be accessed from anywhere in the code, both inside and outside functions.

In [32]:
a = 20

def pri():
  print(a)

print(a)

pri()

20
20

Local scope

Variables defined within a function have local scope, meaning they are accessible only within that function.

Local scope is limited to the function where the variable is defined.

In [34]:
def pri():
  n=20
  print(n)

print(pri)
pri()

<function pri at 0x7feb0571ef80>
20

Calling a function within function

Functions can also call other functions in Python.

In [35]:
def greet(name):
    return f"Hello, {name}!"

def capitalize(text):
    return text.upper()

# Solution as follows
def greet_and_capitalize(name):
    greeting = greet(name)
    return capitalize(greeting)

# Call the functions
name = "Alice"
final_result = greet_and_capitalize(name)

# Display the results
print("Final Result:", final_result)

Final Result: HELLO, ALICE!

In [36]:
def outer_function(x):
    def inner_function(y):
        return x * y

    result = inner_function(x)
    return result

# Calling the function
output = outer_function(5)
print(output)

25

In [41]:
tuple = (1,4,5,5,6,9)

tuple1= (2,4,5, [3,5,6],5,[34,45,6])

print(tuple)
print(len(tuple))
print(tuple.count(5))

print(tuple1)
print(len(tuple1))
print(tuple1.count(5))

print(tuple[2])

(1, 4, 5, 5, 6, 9)
6
2
(2, 4, 5, [3, 5, 6], 5, [34, 45, 6])
6
2
5

Dictionary

A dictionary is an unordered collection of data in a key-value pair format.

Each value in a dictionary is accessed using a unique key.

In [44]:
n = {"key":"value","key":"value2"}

print(n)
print(n["key"])

{'key': 'value2'}
value2

Dictionary characteristics

Order: Unlike sequences (e.g., lists, tuples), dictionaries are not ordered till python versons older than 3.7. After v3.7, they are ordered.

Mutable: Dictionaries can be modified (items can be added, removed, or modified).

Unique: Keys in a dictionary must be unique.

In [51]:
n = {"1":"one", "2":"two","3":"three"}

n["3"] = 4

print(n)

del n["2"]

print(n)

print(n.pop("1"))

print(n.clear())

{'1': 'one', '2': 'two', '3': 4}
{'1': 'one', '3': 4}
one
None

In [52]:
n = {"1":"one", "2":"two","3":"three"}

for i in n:
  print("key:", i, "value:",n[i])

key: 1 value: one
key: 2 value: two
key: 3 value: three

In [56]:
n = {"1":"one", "2":"two","3":"three"}

print("4" in n)
print(n.get("3"))

False
three

In [62]:
n = {
    "1":{"1":"one", "2":"two"},
    "2":{"6":"onhhe", "27":"twoikj"}
}

print(n["1"]["1"])
print(n["2"]["27"])

n["1"]["1"] = "88"

print(n)

one
twoikj
{'1': {'1': '88', '2': 'two'}, '2': {'6': 'onhhe', '27': 'twoikj'}}

In [ ]:
t = int(input())

# run a loop to accept 't' inputs
for i in range(t):
    N = int(input())
    print(N)

In [64]:
t = int(input())


for i in range(t):
    n = int(input())


    print(-n)

1
-7
7

In [65]:
t = int(input())
for i in range(t):
    s = input()
    x = s + s
    print(x)

1
manu
manumanu