<a href="https://colab.research.google.com/github/manu14357/Programming/blob/main/Python_Programming_from_Zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Programming

1. How to Add Two Numbers in Python

In [1]:
#Using Operator "+"

a = 1
b = 2
print(a+b)

3

In [2]:
#Using User Input

a = int(input("Enter Number:"))
b = int(input("Enter Number:"))
print(a+b)

Enter Number:1
Enter Number:2
3

In [4]:
#Using Function

def sum(a,b):
  return a+b

print(sum(1,2))

3

In [5]:
#Using Lambda Function

sum = lambda a, b : a + b
print(sum(1,2))

3

In [6]:
#Using Operator .add

import operator

print(operator.add(1,3))

4

In [7]:
#Using sum()

print(sum(1,2))

3

In [8]:
#Using Bitwise Operator

a = 1
b = 2
print(a|b)

3

2. Finding Minimun Of Two Numbers

In [9]:
#Using Min

print(min(3, 6))

3

In [10]:
#Using Conditional Statements

a, b =2,5

if a < b:
  print(a)
else:
  print(b)

2

In [11]:
#Using Ternary Operator

a , b = 2, 5

print(a if a < b else b)

2

3. Finding Maximum of two numbers

In [12]:
#Using Max

print(max(2,4))

4

In [13]:
#Using Conditional Statements

a , b = 2,4

if a > b:
  print(a)
else:
  print(b)

4

4. Find Factorial of a Number

In [19]:
number = int(input())
count = 1
for i in range(1,number+1):
  count *= i
print(f"The Factorial of {number} is {count}")

3
The Factorial of 3 is 6

In [3]:
#Factorial of a number Using a Recursive Number

def fact(n):
  return 1 if n == 0 or n == 1 else n * fact(n - 1)

print(fact(5))

120

In [7]:
#Using Factorial Function In maths

import math

print(math.factorial(7))

5040

5. Find the GCD (Greatest Common Divisior) of Two Numbers

In [18]:
# For Example
# a = 60
# b = 48
# GCD of a and b is 12
# That 12 divides both 60 and 48

a = 60
b = 48

while b != 0:
  temp = a % b
  a = b
  b = temp

# a, b = b , a % b

print(a, b)

12 0

In [19]:
#Using math.gcd()

print(math.gcd(60,48))

12

In [20]:
#Using Substraction Based GCD

a = 60
b = 48

while a != b:
  if a > b:
    a -= b
  else:
    b -= a

print(a)

12

6. Simple Interest

In [23]:
# Simple Interest Formula is (Principal Amount * Time Period * Rate of Interest) / 100
# (P * T * R) / 100

p , t , r = map(int, input().split())

print((p*t*r)/100)

5 6 7
2.1

7. Armstrong Number

In [33]:
n = int(input())
m = str(n)
count = 0

for i in m:
  d = int(i)
  s = d * d * d
  count += s

if n == count:
  print("Armstrong Number")
else:
  print("Not a Armstrong Number")

print(count)

3
Not a Armstrong Number
27

8. Print all Prime numbers in an Interval

In [3]:
N = int(input())

arr = []

for n in range(0, N+1):
  if n <= 1:
    continue

  is_prime = True

  for i in range(2, int(n ** 0.5) + 1):
    if n % i == 0:
      is_prime = False
      break

  if is_prime:
    arr.append(n)

print(arr)

8
[2, 3, 5, 7]

In [23]:
#For n primes

def prime(n):
  if n < 2:
    return False
  for i in range(2, int(n ** 0.5) + 1):
    if n % i == 0:
      return False
  return True


def nprime(m):
  arr = []
  for i in range(2, m + 1):
    if prime(i):
      arr.append(i)
  return arr

x = int(input())
print(nprime(x))

7
[2, 3, 5, 7]

In [31]:
from sympy import primerange

x = 7  # range [x, y]

primes = list(primerange(2, x + 1))
print(primes if primes else "No")

[2, 3, 5, 7]

In [36]:
from sympy import *

n = 80
arr = []
for i in range(2, n):
  if isprime(i):
    arr.append(i)

print(arr)
print(sum(arr))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]
791

9. Fibonacci Numbers

In [37]:
def fibnoo(n):
  a = 0
  b = 1
  c = 1
  arr = []
  if n < 0:
    return a
  elif n == 0:
    return a
  elif n == 1:
    return b
  else:
    for i in range(2, n):
      c = a + b
      a = b
      b = c
      arr.append(b)
    return arr

print(fibnoo(10))

[1, 2, 3, 5, 8, 13, 21, 34]

In [42]:
def fibno(n):
  if n <= 0:
    return "Hehe Again"
  data = [0,1]
  if n > 2:
    for i in range(2, n):
      data.append(data[i-1] + data[i-2])
    return data[n-1]

print(fibno(10))

34

In [54]:
import math

def sq(n):
  s = int(math.sqrt(n))
  return s*s == n

def findfibo(m):

  return sq(5*m*m+4) or sq(5*m*m-4)

a = int(input())

if findfibo(a):
  print("YEah")
else:
  print("No")

22
No

10. ASCII Value of a character

In [56]:
print(ord('c'))

99

11. Sum of Squrares

In [70]:
n = int(input())
sum = 0
for i in range(1, n+1):
  sum = sum + (i * i)
print(sum)

100
338350

In [69]:
n = 100
print(int(n*(n+1)/2*(2*n+1)/3))

338350

12. Sum of Cubes

In [75]:
n = int(input())
s=0
for i in range(1, n+1):
  s += (i**3)
print(s)

5
225

13. Sum of Array

In [86]:
import math
arr =[1,2,3]
s = math.fsum(arr)
print(int(s))

6

In [87]:
arr = [1,2,3]
s = 0
for i in range(len(arr)):
  s += i
print(s)

3

14. Largest Element in Array

In [93]:
#Using Sort()
arr = [1,57,2,3,7,5]

arr.sort()

print(arr[-1])

57

In [97]:
#Using Max()
arr = [1,57,2,3,7,5]
print(max(arr))

57

In [98]:
arr = [1,57,2,3,7,5]
max = arr[0]
for i in range(len(arr)):
  if arr[i] > max:
    max = arr[i]
print(max)

57

15. Array Rotation

In [99]:
arr = [1,57,2,3,7,5]
print(arr[::-1])

[5, 7, 3, 2, 57, 1]

In [5]:
arr = [1,57,2,3,7,5]
n = 2
print(arr[n:]+arr[:n])

[2, 3, 7, 5, 1, 57]

16. Find remainder of array multiplication divided by n

In [13]:
arr = [100,10,5,25,35,14]
n = int(input())
c = 1
for i in arr:
  c *= i
print(c%n)

56
0

17. Program to check if given array is Monotonic

In [41]:
def is_monotonic(arr):
    increasing = decreasing = True

    for i in range(1, len(arr)):
        if arr[i] > arr[i - 1]:
            decreasing = False
        if arr[i] < arr[i - 1]:
            increasing = False

    return increasing or decreasing

arr = [1, 2, 3, 4, 5]

if is_monotonic(arr):
    print("Yeah, it's a Monotonic array")
else:
    print("Not a Monotonic array")

Yeah, it's a Monotonic array

18. interchange first and last elements in a list

In [44]:
arr = [1, 2, 3, 4, 5]
arr[0] , arr[-1] = arr[-1] , arr[0]
print(arr)

[5, 2, 3, 4, 1]

In [47]:
arr = [1, 2, 3, 4, 5]
print([arr[-1]] + arr[1:-1] + [arr[0]])

[5, 2, 3, 4, 1]