<a href="https://colab.research.google.com/github/manu14357/Programming/blob/main/Python_Programming_from_Zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Programming

1. How to Add Two Numbers in Python

In [1]:
#Using Operator "+"

a = 1
b = 2
print(a+b)

3

In [2]:
#Using User Input

a = int(input("Enter Number:"))
b = int(input("Enter Number:"))
print(a+b)

Enter Number:1
Enter Number:2
3

In [4]:
#Using Function

def sum(a,b):
  return a+b

print(sum(1,2))

3

In [5]:
#Using Lambda Function

sum = lambda a, b : a + b
print(sum(1,2))

3

In [6]:
#Using Operator .add

import operator

print(operator.add(1,3))

4

In [7]:
#Using sum()

print(sum(1,2))

3

In [8]:
#Using Bitwise Operator

a = 1
b = 2
print(a|b)

3

2. Finding Minimun Of Two Numbers

In [9]:
#Using Min

print(min(3, 6))

3

In [10]:
#Using Conditional Statements

a, b =2,5

if a < b:
  print(a)
else:
  print(b)

2

In [11]:
#Using Ternary Operator

a , b = 2, 5

print(a if a < b else b)

2

3. Finding Maximum of two numbers

In [12]:
#Using Max

print(max(2,4))

4

In [13]:
#Using Conditional Statements

a , b = 2,4

if a > b:
  print(a)
else:
  print(b)

4

4. Find Factorial of a Number

In [19]:
number = int(input())
count = 1
for i in range(1,number+1):
  count *= i
print(f"The Factorial of {number} is {count}")

3
The Factorial of 3 is 6

In [3]:
#Factorial of a number Using a Recursive Number

def fact(n):
  return 1 if n == 0 or n == 1 else n * fact(n - 1)

print(fact(5))

120

In [7]:
#Using Factorial Function In maths

import math

print(math.factorial(7))

5040

5. Find the GCD (Greatest Common Divisior) of Two Numbers

In [18]:
# For Example
# a = 60
# b = 48
# GCD of a and b is 12
# That 12 divides both 60 and 48

a = 60
b = 48

while b != 0:
  temp = a % b
  a = b
  b = temp

# a, b = b , a % b

print(a, b)

12 0

In [19]:
#Using math.gcd()

print(math.gcd(60,48))

12

In [20]:
#Using Substraction Based GCD

a = 60
b = 48

while a != b:
  if a > b:
    a -= b
  else:
    b -= a

print(a)

12

6. Simple Interest

In [23]:
# Simple Interest Formula is (Principal Amount * Time Period * Rate of Interest) / 100
# (P * T * R) / 100

p , t , r = map(int, input().split())

print((p*t*r)/100)

5 6 7
2.1

7. Armstrong Number

In [33]:
n = int(input())
m = str(n)
count = 0

for i in m:
  d = int(i)
  s = d * d * d
  count += s

if n == count:
  print("Armstrong Number")
else:
  print("Not a Armstrong Number")

print(count)

3
Not a Armstrong Number
27